* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #c0c0c0;
}

#app {
  font-family: 'Poppins', Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  font-size: 1.35rem;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 1rem;
  margin: auto;
}
.modal{
  border-radius: 20px;
  padding: 1rem;
  font-size: 1.4rem;
}

.inputs {
  padding: 0.7rem;
  text-align: center;
  border-radius: 20px;
  border: none;
  margin: auto auto 1rem;
  font-size: 1.1rem;
  width: 90%;
}

.btn{
  background: #ff0aa6;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: auto;
  margin: 3rem auto auto;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: 2px 3px 15px #a1a1a1;
}
.material-icons{
  font-size: 2.5rem;
  font-weight: 650;
}
.submit{
  background: #ff0aa6;
  padding: 0.5rem;
  font-weight: 650;
  font-size: 1.4rem;
  border: none;
  border-radius: 15px;
  box-shadow: 2px 3px 15px #000;
  width: 40%;
  margin: auto;
}

.wrapper {
  width: 90%;
  margin: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 20px;
  box-shadow: 2px 3px 15px #333;
}

li h4,
h1 {
  color: #c4057ee1;
  margin: 0;
  text-transform: capitalize;
  font-weight: 650;
}

li p {
  color: #333;
  margin: auto;
  font-weight: 510;
}